.VuePagination {
  margin-top: vw(40);
  &__pagination {
    &-item {
      display: inline-block;

      .page-link {
        font-size: vw(24);
        width: vw(50);
        height: vw(50);
        font-family: $ff-nova;
        font-weight: 700;
        border: 3px solid $dark-blue;
        color: $dark-blue;
        transition: color .3s, background-color .3s;
      }

      &.active {
        .page-link {
          background-color: $dark-blue;
          color: #fff;
        }
      }

      &:not(:last-child) {
        margin-right: vw(20);
      }
    }
  }
}

.VuePagination__count{
  display: none;
}

.VuePagination__pagination-item-prev-page,
.VuePagination__pagination-item-next-page {
  display: none;
}