.search {
  position: relative;
  margin-bottom: 49px;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 23px;
    width: 19px;
    height: 19px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 0C12.4183 0 16 3.58172 16 8C16 9.8482 15.3733 11.55 14.3207 12.9045L18.2071 16.7929L16.7929 18.2071L12.9045 14.3207C11.55 15.3733 9.8482 16 8 16C3.58172 16 0 12.4183 0 8C0 3.58172 3.58172 0 8 0ZM8 2C4.68629 2 2 4.68629 2 8C2 11.3137 4.68629 14 8 14C11.3137 14 14 11.3137 14 8C14 4.68629 11.3137 2 8 2Z' fill='%23193478'/%3E%3C/svg%3E%0A");
    background-size: contain;
    background-repeat: no-repeat;
    pointer-events: none;
  }

  &__top {
    display: flex;
  }

  &__input {
    width: 100%;
    padding: 0 70px 0 275px;
    border: none;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 4px 4px 20px rgba(112, 103, 211, 0.15);
  }

  &__input,
  &__input::placeholder,
  &__btn {
    font-family: $ff-nova;
    color: $dark-blue;
    font-size: 24px;
    line-height: 29px;
  }

  &__input,
  &__btn {
    height: 68px;
  }

  &__btn {
    border: 1px solid $dark-blue;
    border-radius: 10px;
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    max-width: 228px;
    width: 100%;
    text-align: left;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: border-color .3s;

    &.active {
      border-color: transparent;

      &::after {
        transform: rotate(180deg)
      }
    }

    &::after {
      content: '';
      display: inline-block;
      background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 18 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.93945 10.5608L0.439453 3.06077L2.56077 0.939453L9.00011 7.37879L15.4395 0.939453L17.5608 3.06077L10.0608 10.5608C9.47499 11.1466 8.52524 11.1466 7.93945 10.5608Z' fill='%23193478'/%3E%3C/svg%3E");
      width: 18px;
      height: 11px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      pointer-events: none;
      transition: transform .3s;
    }
  }

  &__categories {
    position: absolute;
    z-index: 10;
    top: 100%;
    left: 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 100%;
    background-color: #fff;
    padding-right: 40px;
    padding-left: 60px;
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s, padding .3s;

    &.open {
      padding-top: 68px;
      padding-bottom: 126px;
      max-height: 500px;
      box-shadow: 4px 4px 20px rgba(112, 103, 211, 0.15);
    }

    &-list {
      columns: 3;
      margin-bottom: -27px;
    }

    &-item {
      margin-bottom: 27px;

      &:nth-child(1) {
        .search__categories-btn::before {
          background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 18 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0V2H3.46482L4.79815 4H0V6H18V4C18 3.80258 17.9416 3.60957 17.8321 3.4453L15.8321 0.4453C15.6466 0.167101 15.3344 0 15 0H0ZM10.1315 2H5.86852L6.83205 3.4453C6.94156 3.60957 7 3.80258 7 4H9C9 3.80258 9.05844 3.60957 9.16795 3.4453L10.1315 2ZM12.5352 2L11.2018 4H15.7982L14.4648 2H12.5352Z' fill='%23132553'/%3E%3Cpath d='M10 10H9V8H13V10H12V11.5359C12.0754 11.5794 12.1496 11.6255 12.2223 11.6741C12.8801 12.1136 13.3928 12.7384 13.6955 13.4693C13.9983 14.2002 14.0775 15.0044 13.9231 15.7804C13.7688 16.5563 13.3878 17.269 12.8284 17.8284C12.269 18.3878 11.5563 18.7688 10.7804 18.9231C10.0044 19.0775 9.20017 18.9983 8.46926 18.6955C7.73836 18.3928 7.11365 17.8801 6.67412 17.2223C6.23459 16.5645 6 15.7911 6 15H8C8 15.3956 8.1173 15.7822 8.33706 16.1111C8.55682 16.44 8.86918 16.6964 9.23463 16.8478C9.60008 16.9991 10.0022 17.0387 10.3902 16.9616C10.7781 16.8844 11.1345 16.6939 11.4142 16.4142C11.6939 16.1345 11.8844 15.7781 11.9616 15.3902C12.0387 15.0022 11.9991 14.6001 11.8478 14.2346C11.6964 13.8692 11.44 13.5568 11.1111 13.3371C10.7822 13.1173 10.3956 13 10 13L10 10Z' fill='%23132553'/%3E%3C/svg%3E%0A");
          width: 18px;
          height: 19px;
        }
      }

      &:nth-child(2) {
        .search__categories-btn::before {
          background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.3297 0.82768C12.1708 0.595851 11.8287 0.595851 11.6698 0.82768L10.7019 2.24L9.05959 2.72412C8.79001 2.80358 8.68429 3.12897 8.85567 3.35172L9.89976 4.70869L9.85269 6.42021C9.84496 6.70116 10.1218 6.90226 10.3866 6.80809L11.9998 6.23443L13.613 6.80809C13.8778 6.90226 14.1546 6.70116 14.1468 6.42021L14.0998 4.70869L15.1438 3.35172C15.3152 3.12897 15.2095 2.80358 14.9399 2.72412L13.2976 2.24L12.3297 0.82768Z' fill='%23132553'/%3E%3Cpath d='M4.32971 4.32768C4.17083 4.09585 3.82869 4.09585 3.66981 4.32768L2.70189 5.74L1.05959 6.22412C0.790012 6.30358 0.684288 6.62897 0.855673 6.85172L1.89976 8.20869L1.85269 9.92021C1.84496 10.2012 2.12175 10.4023 2.38656 10.3081L3.99976 9.73443L5.61297 10.3081C5.87777 10.4023 6.15456 10.2012 6.14683 9.92021L6.09976 8.20869L7.14385 6.85172C7.31523 6.62897 7.20951 6.30358 6.93993 6.22412L5.29763 5.74L4.32971 4.32768Z' fill='%23132553'/%3E%3Cpath d='M19.6698 4.32768C19.8287 4.09585 20.1708 4.09585 20.3297 4.32768L21.2976 5.74L22.9399 6.22412C23.2095 6.30358 23.3152 6.62897 23.1438 6.85172L22.0998 8.20869L22.1468 9.92021C22.1546 10.2012 21.8778 10.4023 21.613 10.3081L19.9998 9.73443L18.3866 10.3081C18.1218 10.4023 17.845 10.2012 17.8527 9.92021L17.8998 8.20869L16.8557 6.85172C16.6843 6.62897 16.79 6.30358 17.0596 6.22412L18.7019 5.74L19.6698 4.32768Z' fill='%23132553'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.36898 10.5137C9.41661 9.75367 10.693 9.34625 12 9.34625C13.307 9.34625 14.5834 9.75367 15.631 10.5137C16.6795 11.2743 17.4436 12.3488 17.7917 13.5773C18.1402 14.8069 18.0492 16.111 17.5354 17.2839C17.1084 18.2583 16.405 19.1357 15.5 19.7654L15.5 21.3463C15.5 21.6806 15.3329 21.9928 15.0547 22.1783L13.5547 23.1783C13.3904 23.2878 13.1974 23.3463 13 23.3463H11C10.8026 23.3463 10.6096 23.2878 10.4453 23.1783L8.9453 22.1783C8.6671 21.9928 8.5 21.6806 8.5 21.3463L8.5 19.7654C7.59502 19.1357 6.89157 18.2583 6.46465 17.2839C5.95083 16.111 5.85981 14.8069 6.20827 13.5773C6.55645 12.3488 7.3205 11.2743 8.36898 10.5137ZM12 11.3463C11.1057 11.3463 10.2422 11.6256 9.54341 12.1326C8.84545 12.6389 8.35404 13.3409 8.13248 14.1227C7.91119 14.9035 7.96797 15.7313 8.29656 16.4813C8.63332 17.2499 9.22966 17.923 9.97913 18.3321L10.5 18.6165L10.5 20.8111L11.3028 21.3463H12.6972L13.5 20.8111L13.5 18.6165L14.0209 18.3321C14.7703 17.923 15.3667 17.2499 15.7034 16.4813C16.032 15.7313 16.0888 14.9035 15.8675 14.1227C15.646 13.3409 15.1546 12.6389 14.4566 12.1326C13.7578 11.6256 12.8943 11.3463 12 11.3463Z' fill='%23132553'/%3E%3C/svg%3E%0A");
          width: 24px;
          height: 24px;
        }
      }

      &:nth-child(3) {
        .search__categories-btn::before {
          background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 2V0H11V2H13Z' fill='%23132553'/%3E%3Cpath d='M8 19H11V6.0743C9.7584 6.26231 8.79444 6.77917 8.1 7.3C7.66308 7.62769 7.33662 7.95463 7.12241 8.19561C7.01565 8.31572 6.93785 8.41326 6.88918 8.47714C6.86488 8.50903 6.84794 8.5324 6.83839 8.54583L6.82964 8.5583L6.53518 9H2V7H5.51198C5.54773 6.95785 5.58626 6.91338 5.62759 6.86689C5.91338 6.54537 6.33692 6.12231 6.9 5.7C8.02917 4.85312 9.7345 4 12 4C14.2655 4 15.9708 4.85312 17.1 5.7C17.6631 6.12231 18.0866 6.54537 18.3724 6.86689C18.4137 6.91338 18.4523 6.95785 18.488 7H22V9H17.4648L17.1706 8.55858L17.1616 8.54583C17.1521 8.5324 17.1351 8.50903 17.1108 8.47714C17.0621 8.41326 16.9844 8.31572 16.8776 8.19561C16.6634 7.95463 16.3369 7.62769 15.9 7.3C15.2056 6.77917 14.2416 6.26232 13 6.0743V19H16V21H8V19Z' fill='%23132553'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 11C15.4477 11 15 11.4477 15 12C15 12.6394 15.1101 13.275 15.3263 13.8715C15.5425 14.468 15.8621 15.0179 16.2725 15.4869C16.6832 15.9562 17.178 16.3367 17.7327 16.5994C18.2881 16.8622 18.889 17 19.5 17C20.111 17 20.7119 16.8622 21.2673 16.5994C21.822 16.3367 22.3168 15.9562 22.7274 15.4869C23.1379 15.0179 23.4575 14.468 23.6737 13.8715C23.8899 13.275 24 12.6394 24 12C24 11.4477 23.5523 11 23 11H16ZM17.2066 13.19C17.1839 13.1275 17.1631 13.0641 17.144 13H21.856C21.8369 13.0641 21.8161 13.1275 21.7934 13.19C21.6578 13.5641 21.4619 13.8961 21.2223 14.1699C20.9829 14.4435 20.706 14.6523 20.4115 14.7917C20.1176 14.9308 19.8083 15 19.5 15C19.1917 15 18.8824 14.9308 18.5885 14.7917C18.294 14.6523 18.0171 14.4435 17.7777 14.1699C17.5381 13.8961 17.3422 13.5641 17.2066 13.19Z' fill='%23132553'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 12C0 11.4477 0.447715 11 1 11H8C8.55228 11 9 11.4477 9 12C9 12.6394 8.88992 13.275 8.67373 13.8715C8.45753 14.468 8.13787 15.0179 7.72745 15.4869C7.31682 15.9562 6.82203 16.3367 6.26726 16.5994C5.71193 16.8622 5.11095 17 4.5 17C3.88904 17 3.28807 16.8622 2.73274 16.5994C2.17797 16.3367 1.68318 15.9562 1.27255 15.4869C0.86213 15.0179 0.542464 14.468 0.326266 13.8715C0.110077 13.275 0 12.6394 0 12ZM2.14405 13C2.16307 13.0641 2.18392 13.1275 2.20658 13.19C2.34216 13.5641 2.53811 13.8961 2.7777 14.1699C3.01708 14.4435 3.29397 14.6523 3.58847 14.7917C3.88242 14.9308 4.1917 15 4.5 15C4.8083 15 5.11758 14.9308 5.41153 14.7917C5.70603 14.6523 5.98292 14.4435 6.2223 14.1699C6.46189 13.8961 6.65784 13.5641 6.79342 13.19C6.81608 13.1275 6.83693 13.0641 6.85595 13H2.14405Z' fill='%23132553'/%3E%3C/svg%3E%0A");
          width: 24px;
          height: 21px;
        }
      }

      &:nth-child(4) {
        .search__categories-btn::before {
          background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13 1V6C13 6.55229 12.5523 7 12 7H10V17C10 18.6569 8.65685 20 7 20C5.34315 20 4 18.6569 4 17V7H1C0.447715 7 0 6.55229 0 6V4C0 3.73478 0.105357 3.48043 0.292893 3.29289L3.29289 0.292893C3.48043 0.105357 3.73478 0 4 0H12C12.5523 0 13 0.447716 13 1ZM6 7H8V17C8 17.5523 7.55228 18 7 18C6.44772 18 6 17.5523 6 17V7ZM11 5L2 5V4.41421L4.41421 2L11 2V5Z' fill='%23132553'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 9C14.4477 9 14 9.44771 14 10V17C14 18.6569 15.3431 20 17 20C18.6569 20 20 18.6569 20 17V10C20 9.44771 19.5523 9 19 9H18V3H19V1H18V0H16V1H15V3H16V9H15ZM16 17V11H18V17C18 17.5523 17.5523 18 17 18C16.4477 18 16 17.5523 16 17Z' fill='%23132553'/%3E%3C/svg%3E%0A");
          width: 20px;
          height: 20px;
        }
      }

      &:nth-child(5) {
        .search__categories-btn::before {
          background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 1C0 0.447715 0.447715 0 1 0H13C13.5523 0 14 0.447715 14 1V2.15288L17.4932 2.73508C18.9398 2.97617 20 4.22774 20 5.69426V14C20 15.6569 18.6569 17 17 17C16.1115 17 15.3132 16.6137 14.7639 16H5.23611C4.68679 16.6137 3.8885 17 3 17C1.34315 17 0 15.6569 0 14V1ZM12 2V11H3C2.64936 11 2.31278 11.0602 2 11.1707V2H12ZM3 15C2.44772 15 2 14.5523 2 14C2 13.4477 2.44772 13 3 13C3.55228 13 4 13.4477 4 14C4 14.5523 3.55228 15 3 15ZM18 7V5.69426C18 5.20542 17.6466 4.78823 17.1644 4.70787L14 4.18047V11H17C17.3506 11 17.6872 11.0602 18 11.1707V9H16V7H18ZM18 14C18 13.4477 17.5523 13 17 13C16.4477 13 16 13.4477 16 14C16 14.5523 16.4477 15 17 15C17.5523 15 18 14.5523 18 14ZM6 14C6 13.6494 5.93985 13.3128 5.82929 13H14.1707C14.0602 13.3128 14 13.6494 14 14H6Z' fill='%23132553'/%3E%3C/svg%3E%0A");
          width: 20px;
          height: 17px;
        }
      }

      &:nth-child(6) {
        .search__categories-btn::before {
          background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 22 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3 0C2.44772 0 2 0.447715 2 1V12C2 12.5523 2.44772 13 3 13H19C19.5523 13 20 12.5523 20 12V1C20 0.447715 19.5523 0 19 0H3ZM4 11V2H18V11H4Z' fill='%23132553'/%3E%3Cpath d='M0 16V15H22V16C22 16.5523 21.5523 17 21 17H1C0.447715 17 0 16.5523 0 16Z' fill='%23132553'/%3E%3C/svg%3E%0A");
          width: 22px;
          height: 17px;
        }
      }

      &:nth-child(7) {
        .search__categories-btn::before {
          background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 2C12.2652 2 12.5196 2.10536 12.7071 2.29289L14.0503 3.63604C14.1352 3.72095 14.218 3.80715 14.2988 3.89457L17.7575 3.02992C18.2644 2.90318 18.7834 3.18811 18.9487 3.68383L19.7207 6H21C21.5523 6 22 6.44772 22 7V8.91878C22 13.8325 18.3925 18 13.7269 18H12.9304C12.521 20.8265 10.3976 22 9 22V20C9.37884 20 10.5485 19.6046 10.8995 18H10.2731C5.60749 18 2 13.8325 2 8.91878V7C2 6.44772 2.44772 6 3 6H4.27927L5.05133 3.68383C5.21657 3.18811 5.73561 2.90318 6.24255 3.02992L9.70115 3.89457C9.78197 3.80715 9.86484 3.72095 9.94975 3.63604L11.2929 2.29289C11.4804 2.10536 11.7348 2 12 2ZM16.0647 6.70773C15.9218 6.3436 15.7543 5.98692 15.5622 5.64028L17.3441 5.1948L17.6694 6.1705C17.1118 6.29068 16.5748 6.47216 16.0647 6.70773ZM7.93533 6.70773C7.42519 6.47216 6.88823 6.29068 6.33063 6.1705L6.65586 5.1948L8.43779 5.64028C8.24572 5.98692 8.07822 6.3436 7.93533 6.70773ZM7.41059 8.67981C6.59382 8.24199 5.6843 8 4.7269 8H4V8.91878C4 12.6469 6.50779 15.5602 9.56469 15.9545C7.75224 13.904 7.03511 11.2254 7.41059 8.67981ZM14.4353 15.9545C16.2478 13.904 16.9649 11.2254 16.5894 8.67981C17.4062 8.24199 18.3157 8 19.2731 8H20V8.91878C20 12.6469 17.4922 15.5602 14.4353 15.9545ZM12 15.5858L11.364 14.9497C9.59127 13.1771 8.96694 10.6899 9.49526 8.41129C9.78072 7.18014 10.4027 6.01154 11.364 5.05025L12 4.41421L12.636 5.05025C13.5973 6.01153 14.2193 7.18014 14.5047 8.41129C15.0331 10.6899 14.4087 13.1771 12.636 14.9497L12 15.5858Z' fill='%23132553'/%3E%3C/svg%3E%0A");
          width: 24px;
          height: 24px;
        }
      }

      &:nth-child(8) {
        .search__categories-btn::before {
          background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.44721 0.105574C2.13723 -0.0494204 1.76909 -0.0328564 1.47427 0.14935C1.17945 0.331557 1 0.653423 1 1V10C0.447715 10 0 10.4477 0 11V19C0 19.5523 0.447715 20 1 20H7C7.55228 20 8 19.5523 8 19V11C8 10.4477 7.55228 10 7 10V3C7 2.62123 6.786 2.27497 6.44721 2.10557L2.44721 0.105574ZM5 10V8H3V10H5ZM2 12V18H6V12H2ZM3 6V2.61804L5 3.61804V6H3Z' fill='%23132553'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.26814 0.318548C9.45731 0.115388 9.72241 3.00741e-09 10 3.00741e-09H19C19.2776 3.00741e-09 19.5427 0.115388 19.7319 0.318548C19.921 0.521709 20.0172 0.794359 19.9975 1.07125L18.9975 15.0712C18.9601 15.5946 18.5246 16 18 16L18 19C18 19.5523 17.5523 20 17 20H12C11.4477 20 11 19.5523 11 19L11 16C10.4754 16 10.0399 15.5946 10.0025 15.0712L9.00254 1.07125C8.98277 0.794359 9.07897 0.521709 9.26814 0.318548ZM13 16H16V18H13V16ZM17.0689 14H11.9311L11.074 2H17.926L17.0689 14Z' fill='%23132553'/%3E%3C/svg%3E%0A");
          width: 20px;
          height: 20px;
        }
      }

      &:nth-child(9) {
        .search__categories-btn::before {
          background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 23 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.38197 0H0V2H2.38197L3.06697 3.37002L5.66163 12.0189C4.16406 12.187 3 13.4575 3 15C3 16.3567 3.90057 17.503 5.13653 17.8739C5.04888 18.0644 5 18.2765 5 18.5C5 19.3284 5.67157 20 6.5 20C7.32843 20 8 19.3284 8 18.5C8 18.3247 7.96992 18.1564 7.91465 18H17.0854C17.0301 18.1564 17 18.3247 17 18.5C17 19.3284 17.6716 20 18.5 20C19.3284 20 20 19.3284 20 18.5C20 18.3247 19.9699 18.1564 19.9146 18H21V16H6C5.44772 16 5 15.5523 5 15C5 14.4477 5.44771 14 5.99999 14H18.3603C19.7902 14 21.0217 12.9907 21.3021 11.5883L22.7414 4.39223C22.9889 3.15465 22.0423 2 20.7802 2H4.61803L4.17082 1.10557C3.83204 0.428004 3.13951 0 2.38197 0ZM7.74403 12L5.34403 4H20.7802L19.341 11.1961C19.2475 11.6635 18.837 12 18.3603 12H7.74403Z' fill='%23132553'/%3E%3C/svg%3E%0A");
          width: 23px;
          height: 20px;
        }
      }
    }

    &-btn {
      font-family: $ff-nova;
      font-weight: 600;
      color: #000;
      display: flex;
      align-items: center;

      &::before {
        content: '';
        display: inline-block;
        margin-right: 30px;
        background-size: contain;
      }


    }
  }
}