@import 'variables';
@import 'mixins';
@import 'fonts';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: $font-family-main;
}

body {
	background-color: #fff;
	font-size: vw(18);
	line-height: vw(22);
}

button {
	background: transparent;
	border: none;
	cursor: pointer;
}

ol,
ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.1;
  }

  to {
    opacity: 1;
  }
}

@import "icons/style";

//layout
@import "layout/search";