@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?4048b3');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?4048b3#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?4048b3') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?4048b3') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?4048b3##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-angle-right {
  &:before {
    content: $icon-angle-right; 
  }
}
.icon-home {
  &:before {
    content: $icon-home; 
  }
}
.icon-bookmark {
  &:before {
    content: $icon-bookmark; 
  }
}
.icon-plus {
  &:before {
    content: $icon-plus; 
  }
}
.icon-map {
  &:before {
    content: $icon-map; 
  }
}
.icon-angle-down {
  &:before {
    content: $icon-angle-down; 
  }
}
.icon-calendar {
  &:before {
    content: $icon-calendar; 
  }
}
.icon-search {
  &:before {
    content: $icon-search; 
  }
}
.icon-bell {
  &:before {
    content: $icon-bell; 
  }
}
.icon-gear {
  &:before {
    content: $icon-gear; 
  }
}
.icon-docs {
  &:before {
    content: $icon-docs; 
  }
}
.icon-education {
  &:before {
    content: $icon-education; 
  }
}
.icon-discussion {
  &:before {
    content: $icon-discussion; 
  }
}
.icon-doc-search {
  &:before {
    content: $icon-doc-search; 
  }
}
.icon-doc-edit {
  &:before {
    content: $icon-doc-edit; 
  }
}
.icon-fav-star {
  &:before {
    content: $icon-fav-star; 
  }
}
.icon-rocket {
  &:before {
    content: $icon-rocket; 
  }
}
.icon-mailing {
  &:before {
    content: $icon-mailing; 
  }
}
.icon-star-person {
  &:before {
    content: $icon-star-person; 
  }
}

