$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../assets/fonts/Icons" !default;

$icon-plus: "\e90c";
$icon-map: "\e90d";
$icon-angle-down: "\e90e";
$icon-calendar: "\e90f";
$icon-search: "\e90b";
$icon-bell: "\e909";
$icon-gear: "\e90a";
$icon-docs: "\e900";
$icon-education: "\e901";
$icon-discussion: "\e902";
$icon-doc-search: "\e903";
$icon-doc-edit: "\e904";
$icon-fav-star: "\e905";
$icon-rocket: "\e906";
$icon-mailing: "\e907";

$icon-star-person: "\e908";
$icon-equalizer: "\e992";


$icon-star-person: "\e908";

